* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-blue-primary: #d9f4ff;
    --color-blue-secondary: #219ebc;
    --color-blue-tertiary: #023047;
    --color-orange: #fb8500;
    --color-transparent-primary: rgba(2, 48, 71, 0.1);
    --color-transparent-secondary: rgba(2, 48, 71, 0.2);
    --transition-theme-duration: 0.3s;
}

:root:has(#theme-switch:checked) {
    --color-blue-primary: #023047;
    --color-blue-tertiary: #d9f4ff;
    --color-orange: #ffb703;
    --color-transparent-primary: rgba(217, 244, 255, 0.1);
    --color-transparent-secondary: rgba(217, 244, 255, 0.2);
}

html {
    font-family: "Roboto", sans-serif;
    color: var(--color-blue-tertiary);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 25px;
    background-color: var(--color-blue-primary);
    transition: background-color var(--transition-theme-duration);
}

.text.title {
    padding: 20px 0;
    text-align: center;
    color: var(--color-blue-secondary);
}

.text.instruction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    transition: color var(--transition-theme-duration);
}

.players,
.game-settings {
    display: flex;
    justify-content: space-around;
}

.players {
    padding: 20px 0;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 85px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-transparent-primary);
    text-align: center;
    font-weight: 700;
    transition-property: background-color, color;
    transition-duration: var(--transition-theme-duration);
}

.player > i {
    font-size: 1.2rem;
    color: var(--color-orange);
    transition: color var(--transition-theme-duration);
}

.game-settings {
    margin: 20px 0;
}

.game-area {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 35px 30px;
}

#gameboard {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    max-width: 350px;
    background-color: var(--color-blue-tertiary);
    transition: background-color var(--transition-theme-duration);
}

.gameboard__square {
    aspect-ratio: 1 / 1;
    cursor: pointer;
    background-color: var(--color-blue-primary);
    transition: background-color var(--transition-theme-duration);
}

.game-options {
    display: flex;
    justify-content: center;
    position: relative;
}

.game-setting,
.game-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--color-transparent-primary);
    font-size: 1.1rem;
    color: var(--color-blue-secondary);
    transition: background-color var(--transition-theme-duration);
}

.game-setting:active,
.game-option:active {
    transition: initial;
    background-color: var(--color-transparent-secondary);
}

#container-theme-switch {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

#theme-switch {
    display: block;
    appearance: none;
    width: 50px;
    height: 25px;
    background-color: var(--color-transparent-primary);
    border-radius: 25px;
    transition: background-color var(--transition-theme-duration);
}

#theme-switch::before {
    content: "";
    background-color: var(--color-blue-primary);
    width: 17px;
    height: 17px;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    transition-property: left, background-color;
    transition-duration: var(--transition-theme-duration);
}

#theme-switch:checked::before {
    left: 29px;
}

#container-theme-switch .light,
#container-theme-switch .dark {
    position: absolute;
    color: var(--color-orange);
    z-index: 10;
    pointer-events: none;
    width: 17px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    transition: color var(--transition-theme-duration);
}

#container-theme-switch .light {
    left: 4px;
}

#container-theme-switch .dark {
    left: 29px;
}

label[for="theme-switch"] {
    display: none;
}