* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 25px;
}

.text.title {
    padding: 20px 0;
    text-align: center;
    background-color: white;
}

.text.instruction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    transition-property: transform, height;
    transition-duration: .5s;
    position: relative;
    z-index: -10;
}

.text.instruction.removed {
    height: 0;
    transform: translateY(-50px);
}

.players,
.game-settings {
    display: flex;
    justify-content: space-around;
}

.players {
    padding: 20px 0;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
}

.game-settings {
    margin: 20px 0;
}

.game-area {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

#gameboard {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    max-width: 350px;
    background-color: #000000;
}

.gameboard__square {
    aspect-ratio: 1 / 1;
    cursor: pointer;
    background-color: #ffffff;
}

.game-settings {
    padding: 20px 0;
}

#gameboard,
.game-settings {
    transition-property: opacity, visibility;
    transition-duration: .5s;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.game-options {
    display: flex;
    justify-content: center;
    position: relative;
}

.game-option#game-reset {
    transition-property: opacity, visibility;
    transition-duration: .5s;
}

.game-option#theme-selector {
    position: absolute;
    right: 0;
}
