* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-blue-primary-light: #d9f4ff;
    --color-blue-secondary-light: #219ebc;
    --color-blue-tertiary-light: #023047;
    --color-yellow-light: #ffb703;
    --color-orange-light: #fb8500;
    --color-transparent-primary-light: rgba(2, 48, 71, 0.05);
    --color-transparent-secondary-light: rgba(2, 48, 71, 0.2);
}

html {
    font-family: "Roboto", sans-serif;
    color: var(--color-blue-tertiary-light);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 25px;
    background-color: var(--color-blue-primary-light);
}

.text.title {
    padding: 20px 0;
    text-align: center;
    color: var(--color-blue-secondary-light);
}

.text.instruction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.players,
.game-settings {
    display: flex;
    justify-content: space-around;
}

.players {
    padding: 20px 0;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
}

.player > i {
    color: var(--color-orange-light);
}

.game-settings {
    margin: 20px 0;
}

.game-setting {
    color: var(--color-blue-secondary-light);
}

.game-area {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 35px 30px;
}

#gameboard {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    max-width: 350px;
    background-color: var(--color-blue-tertiary-light);
}

.gameboard__square {
    aspect-ratio: 1 / 1;
    cursor: pointer;
    background-color: var(--color-blue-primary-light);
}

.game-options {
    display: flex;
    justify-content: center;
    position: relative;
}

.game-option {
    color: var(--color-blue-secondary-light);
}

.game-option#theme-selector {
    position: absolute;
    right: 0;
}